#water_fall_wrapper {
    clear: both;
    padding-bottom: 50px;
}
.images {
    display: block;
    position: relative;
    float: left;
    height: 211px;
    width: 211px;
    z-index: 100;
}
.images article {
    display: block;
    position: relative;
    box-sizing: border-box;
    padding: 100px 10px 10px 10px;
    left: 0;
    top:0;
    z-index: 200;
    width: 211px;
    height: 211px;
    transition: all ease-out 1s;
    cursor: pointer;
}

.images article p{
    display: block;
    width: 100%;
    font-size: 14px;
    color: rgba(255, 255, 255, .9);
    opacity: 0;
    line-height: 1.4em;
    transition: all ease 0.5s;
}
.images article time{
    display: block;
    width: 100%;
    font-size: 12px;
    opacity: 0;
    color: rgba(255, 255, 255, .9);
    transition: all ease 0.5s;
}
.images article:hover {
    background-color: rgba(0, 0, 0, .4);
}
.images article:hover>p, .images article:hover>time {
    opacity: 1;
}
.full-screen {
    display: table;
    display: none;
    top:0;
    left:0;
    position: fixed;
    background-color: rgba(0, 0, 0,.5);
    width: 100%;
    height: auto;
    overflow-y: scroll;
    min-height: 100vh;
    z-index: 300000;
}
.full-screen img{
    display: table-cell;
    vertical-align: middle;
    margin: auto;
    opacity: 0;
    transition: all ease .5s .1s;
    cursor: pointer;
    box-shadow: 0 0 20px 1px rgba(255,255,255,.3);
}
.full-screen .close {
    display: block;
    position: absolute;
    z-index: 400000;
    background-color: #fff;
    color: #000;
    font-size: 20px !important;
    font-weight: normal;
    padding: 3px 7px;
    border-radius: 100%;
    opacity: 0.5;
    transition: all ease .5s;
    cursor: pointer;
    font-family: Arial,monospace;
}
.full-screen .close:hover{
    opacity: 1;
}