
html {
}
body {
    overflow-x: hidden;
}
body.ui-mobile-viewport.ui-overlay-a{
    overflow: hidden;
}
div.ui-loader.ui-corner-all.ui-body-a.ui-loader-default.ui-loader-fakefix{
    display: none;
}
.full-screen {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    transition: width ease 0.5s, height ease 0.5s;
}
.gray {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray ;
}

#page-1 {
    background: url(../images/huai_bg_01.jpg) no-repeat scroll 50% 50% / cover transparent;
}
#page-2 {
    background: url(../images/1_1.jpg) no-repeat scroll 50% 50% / cover transparent;
}
#page-3 {
    background: url(../images/2_1.jpg) no-repeat scroll 50% 50% / cover transparent;
}
#page-4 {
    background: url(../images/3_1.jpg) no-repeat scroll 50% 50% / cover transparent;
}
#page-5 {
    background: url(../images/4_1.jpg) no-repeat scroll 50% 50% / cover transparent;
}
.down-arrow {
    display:block;
    position: absolute;
    bottom:30px;
    opacity: 0;
    width: 30px;
    height: 30px;
    background-image: url(../images/down-arrow.png);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: all ease-out 0.5s;
}
.down-arrow:hover {
    opacity: 1;
}
.bg {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    z-index: 20;
    transition: all ease 1s 0.5s;
}
.pages .intro{
    display: block;
    position: absolute;
    z-index: 999;
    font-family: "Microsoft YaHei", "Microsoft Yahei", "微软雅黑", Helvetica Neue,Arial,serif;
    text-align: left;
    opacity: 0;
    margin-top: -100px;
    margin-bottom: -100px;
    transition: all ease 1.5s;
}
.pages .intro.show {
    opacity: 1;
    margin: 0;
}
.pages .intro header {
    color: #fff;
    font-size: 40px;
    text-align: left;
    line-height: 1.3em;
}
.pages .intro time {
    color: #279CF5;
    font-size: 60px;
    font-weight: bold;
}
.fade {
    animation:fade 1.5s forwards;
    -moz-animation:fade 1.5s forwards; /* Firefox */
    -webkit-animation:fade 1.5s forwards; /* Safari and Chrome */
    -o-animation:fade 1.5s forwards; /* Opera */
}
@-webkit-keyframes fade {
    from{
        -webkit-filter: grayscale(100%);
    }
    to{
        -webkit-filter: grayscale(0);
    }
}

@keyframes fade {
    from{
        -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        filter: grayscale(100%) ;
    }
    to{
        -moz-filter: grayscale(0);
        -ms-filter: grayscale(0);
        filter: grayscale(0);
    }
}
.jump1 {
    animation:jump 1s forwards 1.2s;
    -moz-animation:jump 1s forwards 1.2s; /* Firefox */
    -webkit-animation:jump 1s forwards 1.2s; /* Safari and Chrome */
    -o-animation:jump 1s  forwards 1.2s; /* Opera */
    transition-timing-function: cubic-bezier(.34,.39,.46,.91);
    -webkit-transition-timing-function: cubic-bezier(.34,.39,.46,.91);
    -moz-transition-timing-function: cubic-bezier(.34,.39,.46,.91);
    -o-transition-timing-function: cubic-bezier(.34,.39,.46,.91) ;
}


.jump2 {
    animation:jump 1s forwards 1.3s;
    -moz-animation:jump 1s forwards 1.3s; /* Firefox */
    -webkit-animation:jump 1s forwards 1.3s; /* Safari and Chrome */
    -o-animation:jump 1s forwards 1.3s; /* Opera */
    transition-timing-function: cubic-bezier(.34,.39,.46,.91);
    -webkit-transition-timing-function: cubic-bezier(.34,.39,.46,.91);
    -moz-transition-timing-function: cubic-bezier(.34,.39,.46,.91);
    -o-transition-timing-function: cubic-bezier(.34,.39,.46,.91) ;
}

@-webkit-keyframes jump {
    0% {-webkit-transform:translateY(60px); opacity: 0.5;}
    5% {-webkit-transform:translateY(70px); opacity: 0.7;}
    10% {-webkit-transform:translateY(80px); opacity: 0.8;}
    15% {-webkit-transform:translateY(90px); opacity: 0.9;}
    20% {-webkit-transform:translateY(100px); opacity: 1;}
    25% {-webkit-transform:translateY(108px); opacity: 1;}
    30% {-webkit-transform:translateY(113px); opacity: 1;}
    35% {-webkit-transform:translateY(123px); opacity: 1;}
    40% {-webkit-transform:translateY(115px); opacity: 1;}
    50% {-webkit-transform:translateY(110px); opacity: 1;}
    60% {-webkit-transform:translateY(108px); opacity: 1;}
    70% {-webkit-transform:translateY(110px); opacity: 1;}
    80% {-webkit-transform:translateY(114px); opacity: 1;}
    90% {-webkit-transform:translateY(112px); opacity: 1;}
    100% {-webkit-transform:translateY(110px); opacity: 1;}
}
@-moz-keyframes jump {
    0% {-moz-transform:translateY(60px); opacity: 0.5;}
    5% {-moz-transform:translateY(70px); opacity: 0.7;}
    10% {-moz-transform:translateY(80px); opacity: 0.8;}
    15% {-moz-transform:translateY(90px); opacity: 0.9;}
    20% {-moz-transform:translateY(100px); opacity: 1;}
    25% {-moz-transform:translateY(108px); opacity: 1;}
    30% {-moz-transform:translateY(113px); opacity: 1;}
    35% {-moz-transform:translateY(123px); opacity: 1;}
    40% {-moz-transform:translateY(115px); opacity: 1;}
    50% {-moz-transform:translateY(110px); opacity: 1;}
    60% {-moz-transform:translateY(108px); opacity: 1;}
    70% {-moz-transform:translateY(110px); opacity: 1;}
    80% {-moz-transform:translateY(114px); opacity: 1;}
    90% {-moz-transform:translateY(112px); opacity: 1;}
    100% {-moz-transform:translateY(110px); opacity: 1;}
 }
@-ms-keyframes jump {
    0% {-ms-transform:translateY(60px); opacity: 0.5;}
    5% {-ms-transform:translateY(70px); opacity: 0.7;}
    10% {-ms-transform:translateY(80px); opacity: 0.8;}
    15% {-ms-transform:translateY(90px); opacity: 0.9;}
    20% {-ms-transform:translateY(100px); opacity: 1;}
    25% {-ms-transform:translateY(108px); opacity: 1;}
    30% {-ms-transform:translateY(113px); opacity: 1;}
    35% {-ms-transform:translateY(123px); opacity: 1;}
    40% {-ms-transform:translateY(115px); opacity: 1;}
    50% {-ms-transform:translateY(110px); opacity: 1;}
    60% {-ms-transform:translateY(108px); opacity: 1;}
    70% {-ms-transform:translateY(110px); opacity: 1;}
    80% {-ms-transform:translateY(114px); opacity: 1;}
    90% {-ms-transform:translateY(112px); opacity: 1;}
    100% {-ms-transform:translateY(110px); opacity: 1;}
}
@keyframes jump {
    0% {transform:translateY(60px); opacity: 0.5;}
    5% {transform:translateY(70px); opacity: 0.7;}
    10% {transform:translateY(80px); opacity: 0.8;}
    15% {transform:translateY(90px); opacity: 0.9;}
    20% {transform:translateY(100px); opacity: 1;}
    25% {transform:translateY(108px); opacity: 1;}
    30% {transform:translateY(113px); opacity: 1;}
    35% {transform:translateY(123px); opacity: 1;}
    40% {transform:translateY(115px); opacity: 1;}
    50% {transform:translateY(110px); opacity: 1;}
    60% {transform:translateY(108px); opacity: 1;}
    70% {transform:translateY(110px); opacity: 1;}
    80% {transform:translateY(114px); opacity: 1;}
    90% {transform:translateY(112px); opacity: 1;}
    100% {transform:translateY(110px); opacity: 1;}
}
.up-angle,.down-angle {
    display: block;
    position: absolute;
    z-index: 9999;
    margin: auto;
    color: #fff;
    font-size: 20px;
    text-align: center;
}
.up-angle:after {
    content : "<";
    display: block;
    position: relative;
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
}
.down-angle:after {
    content : ">";
    display: block;
    position: relative;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
}
.pages{
    text-align: center;
}

#logo-box{
    display: none;
    position: relative;
    width: 120px;
    height: 120px;
    top: -120px;
    margin: auto;
    text-align: center;
    transition: opacity ease 1s;
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    transform: scale(0.1);
}
#logo-box.show{
    display: block;
}
#logo-box img{
    display: block;
    position: absolute;
    width: 120px;
    height: 120px;
    transition: top ease 0.1s;
}
#mo {
    display: block;
    position: absolute;
    opacity: 0.5;
    z-index: 1200;
}
#logo {
    display: block;
    position: absolute;
    opacity: 0;
    z-index: 1999;
}

.logo-box-animation {
    animation:logo-box-animation 1.5s ease forwards;
    -moz-animation:logo-box-animation 1.5s ease forwards; /* Firefox */
    -webkit-animation:logo-box-animation 1.5s ease forwards; /* Safari and Chrome */
    -o-animation:logo-box-animation 1.5s ease forwards; /* Opera */
    transition-timing-function: cubic-bezier(.49,.19,0,.97);
    -webkit-transition-timing-function: cubic-bezier(.49,.19,0,.97);
    -moz-transition-timing-function: cubic-bezier(.49,.19,0,.97);
    -o-transition-timing-function: cubic-bezier(.49,.19,0,.97);
}
.mo-animation {
    animation:mo 1.5s ease-out forwards;
    -moz-animation:mo 1.5s ease-out forwards; /* Firefox */
    -webkit-animation:mo 1.5s ease-out forwards; /* Safari and Chrome */
    -o-animation:mo 1.5s ease-out forwards; /* Opera */
    transition-timing-function: cubic-bezier(.49,.19,0,.97);
    -webkit-transition-timing-function: cubic-bezier(.49,.19,0,.97);
    -moz-transition-timing-function: cubic-bezier(.49,.19,0,.97);
    -o-transition-timing-function: cubic-bezier(.49,.19,0,.97);
}
.logo-animation {
    animation:logo-animation 1.5s ease-out forwards;
    -moz-animation:logo-animation 1.5s ease-out forwards; /* Firefox */
    -webkit-animation:logo-animation 1.5s ease-out forwards; /* Safari and Chrome */
    -o-animation:logo-animation 1.5s ease-out forwards; /* Opera */
    transition-timing-function: cubic-bezier(.49,.19,0,.97);
    -webkit-transition-timing-function: cubic-bezier(.49,.19,0,.97);
    -moz-transition-timing-function: cubic-bezier(.49,.19,0,.97);
    -o-transition-timing-function: cubic-bezier(.49,.19,0,.97);
}


@-webkit-keyframes logo-box-animation {
    0% {  top: 0;  -webkit-transform: scale(0.1);  }
    50% {  top: 40%; -webkit-transform: scale(0.25);  }
    70% {top:40%; -webkit-transform: scale(0.8);}
    100% {  top: 40%; -webkit-transform: scale(1);  }
}
@-moz-keyframes logo-box-animation {
    0% {  top: 0;  -moz-transform: scale(0.1);  }
    50% {  top: 40%; -moz-transform: scale(0.25);  }
    70% {top:40%; -moz-transform: scale(0.8);}
    100% {  top: 40%; -moz-transform: scale(1);  }
}
@keyframes logo-box-animation {
    0% {  top: 0;  transform: scale(0.1);  }
    50% {  top: 40%; transform: scale(0.25);  }
    70% {top:40%; transform: scale(0.8);}
    100% {  top: 40%; transform: scale(1);  }
}
@-webkit-keyframes logo-animation {
    0% {  opacity: 0; }
    30% {  opacity: 0; }
    50% {opacity: 0;}
    70% { opacity: 0.9; -webkit-transform: translateY(10px);}
    100% {  opacity: 1;  -webkit-transform: translateY(-20px);}
}
@-moz-keyframes logo-animation {
    0% {  opacity: 0; }
    30% {  opacity: 0; }
    50% {opacity: 0;}
    70% { opacity: 0.9; -moz-transform: translateY(10px);}
    100% {  opacity: 1;  -moz-transform: translateY(-20px);}
}
@keyframes logo-animation {
    0% {  opacity: 0; }
    30% {  opacity: 0; }
    50% {opacity: 0;}
    70% { opacity: 0.9; transform: translateY(10px);}
    100% {  opacity: 1;  transform: translateY(-20px);}
}

@-webkit-keyframes mo {
    0% {  opacity: 0.8;  }
    50% {  opacity: 0.6;  }
    100% {  opacity: 0;  }
 }
@-moz-keyframes mo {
    0% {  opacity: 0.8;  }
    50% {  opacity: 0.6;  }
    100% {  opacity: 0;  }
}
@keyframes mo {
    0% {  opacity: 0.8;  }
    50% {  opacity: 0.6;  }
    100% {  opacity: 0;  }
}

#jinpeng,#huai {
    display: block;
    vertical-align: top;
    position: absolute;
    font-size: 34px;
    color: #fff;
    top: 0px;
    margin: auto;
    z-index: 100;
    opacity: 0;
}
#jinpeng {
    left:-40px;
}
#huai {
    right: -30px;
}
#pics{
    text-align: left;
    font-size: 0;
}
#pics .pages{
    display: block;
    position: absolute;
    margin: 0;
    transition: all ease 1s;
}
#page-2 {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 500;
}
#page-3 {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 400;
}
#page-4 {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 300;
}
#page-5 {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
}

#page-container {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    /*transition: all ease 1s;*/
}
#pic-nav {
    display: block;
    position: absolute;
    left: 45%;
    bottom: 30px;
    z-index: 999999;
}
#pic-nav li{
    display: inline-block;
    position: relative;
    margin: 5px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #fff;
    opacity: 0.6;
    cursor: pointer;
    transition: all ease 0.3s;
}
#pic-nav li.active {
    opacity: 1;
}


.banner {
    display: block;
    position:relative;
    width: 100%;
    text-align: center;
}
#words-header {
    background: url(../images/banner1.png) no-repeat scroll 50% 50% / cover transparent;
}
#leave-message-header {
    background: url(../images/banner2.png) no-repeat scroll 50% 50% / cover transparent;
    height: 300px;
    transition: all ease 0.8s;
}
#words-header header {
    display: block;
    position: relative;
    max-width: 600px;
    width: 90%;
    height: 100%;
    margin:0 auto;
    font-size: 24px;
    font-weight: normal;
    color: rgba(255, 255, 255, .9);
}

#words-header header section
{
    display: block;
    position: relative;
    width: 100%;
    margin: auto;
    vertical-align: middle;
    text-align: left;
    height: 100%;
    padding: 0;
    z-index: 200;
}
#words-header header section h2 {
    display: block;
    font-size: 24px;
    margin-bottom: 15px;

}
#words-header header section div{
    display: block;
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    bottom: 70px;
    text-align: left;
}
#words-header header section span {
    display: block;
    position: relative;
    line-height: 1.3em;
    font-size: 16px;
    margin: 0;
    width: 96%;
}
#leave-message-header header {
    display: block;
    position: relative;
    max-width: 600px;
    width: 90%;
    margin:0 auto;
    top:0;
    font-size: 24px;
    font-weight: normal;
    color: rgba(255, 255, 255, .9);
}
.banner header>div:first-child {
    display: block;
    position: absolute;
    top:20px;
    left: -45px;
    text-align: left;
    cursor: pointer;
    z-index: 1000;
}
.banner header>div:nth-child(2) {
    display: block;
    position: absolute;
    top:20px;
    right: -20px;
    text-align: right;
    cursor: pointer;
    z-index: 1000;
}
.banner header .huai-logo {
    display: inline-block;
    vertical-align: middle;
    width: 26px;
    height: 26px;
    background-image: url(../images/huai_logo.png);
    background-size: 26px 26px;
}
#words,#leave-message {
    display: block;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}
#words section,#leave-message section {
    display: block;
    position: relative;
    max-width: 600px;
    width: 90%;
    margin: 30px auto;
    text-align: left;
}
#words section h2 {
    font-size: 28px;
    font-weight: normal;
    color: #33b6b9;
}
#words section h3 {
    font-size: 24px;
    color: #33b6b9;
    font-weight: normal;
    margin-bottom: 10px;
}
#words section p {
    font-size: 18px;
    line-height: 1.3em;
    color: #737373;
}

#leave-message section h2 {
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
    color: #33b6b9;
}
#leave-message section time {
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
    color: #ccc;
    text-indent: 1em;
}
#leave-message section p {
    font-size: 18px;
    line-height: 1.3em;
    color: #737373;
    margin-top: 10px;
}
#leave-message .reply-from, #leave-message .reply-to{
    display: inline;
    font-size: 14px;
    font-weight: normal;
    color: #33b6b9;
}
#leave-message .reply{
    display: block;
    position: relative;
    margin-top: 10px;
    text-indent: 1em;

}
#leave-message .reply-to:before {
    content: "回复";
    text-indent: 1em;
    margin-right: 5px;
    font-size: 14px;
    font-weight: normal;
    color: #666;
}
#leave-message .reply-content {
    margin-top: 5px;
    font-size: 14px;
    color: #373737;
    line-height: 1.3em;
}
#leave-message{
    margin-top: -10px;
    padding-top: 0;
}
#add-message-link {
    display: block;
    color: #373737;
    height: 15px;
    line-height: 15px;
    width: 160px;
    text-align: center;
    margin: auto;
    background-color: #fff;
    color: #fff;
    font-size: 12px;
    margin-top: 0;
    cursor:pointer;
}
#add-message-link:before {
    content: "";
    display: inline-block;
    position: relative;
    left: -64px;
    bottom: 0;
    border-left: 12px solid transparent;
    border-bottom: 15px solid #fff;
}
#add-message-link:after {
    content: "";
    display: inline-block;
    position: relative;
    right: -64px;
    bottom: 0;
    border-right: 12px solid transparent;
    border-bottom: 15px solid #fff;
}
#add-message-link:hover {
    text-decoration: none;
}
#leave-message .user-name {
    display: block;
    position: relative;
    max-width: 600px;
    margin: 15px auto 5px auto;
    width: 90%;
    text-align: left;
}
#leave-message .alert {
    display: block;
    position: relative;
    max-width: 700px;
    margin: 15px auto 5px auto;
    width: 90%;
    text-align: center;
}
#leave-message .alert span{
    font-size: 14px;
    font-weight: normal;
    color: #737373;
}
#leave-message .user-name span {
    font-size: 20px;
    font-weight: normal;
    color: #737373;
}
#edit-message,.comment-area{
    display: block;
    position: relative;
    box-sizing: border-box;
    max-width: 600px;
    width: 90%;
    min-height: 80px;
    height: auto;
    line-height: 1.3em;
    padding: 10px;
    color: #373737;
    margin: 20px auto;
    border: 1px solid #ddd;
    background-color: #efefef;
    outline: none;
    text-align: left;
    font-size: 16px;
}
div [contenteditable="true"] font{
    color:#494949 !important;
}
#leave-message .comment-wrapper {
    margin: 5px 0;
    padding-bottom: 30px;
    display: none;
}
.comment-wrapper .button{
    float:right;
    right: 30px;
}
#leave-message .reply-content .comment-wrapper {
    margin-left: 10px;
}
#edit-message:focus {
    border: 1px solid #aaa;
    background-color: #fefefe;
}
#leave-message .placeholder {
    color:#aaa;
}
#leave-message .form {
    display: block;
    max-width: 700px;
    margin: 15px auto 5px auto;
    width: 90%;
}
#leave-message .form table{
    display: table;
    position: relative;
    margin: auto;
    width: 300px;
}
#leave-message .form table tr {
    width: 100%;
}
#leave-message .form td {
    height: 50px;
}
#leave-message td[colspan="2"] {
    text-align: center;
}
#leave-message section .comment{
    color: #aaa;
    font-size: 12px;
    text-indent: 1em;
}
#leave-message .form input,#leave-message .form input {
    display: block;
    width: 216px;
    margin: auto;
    outline: none;
    border: 1px solid #ddd;
    border-radius: 2px;
    background-color: #eee;
    font-size: 14px;
    font-weight: 500;
    padding: 5px 5px 6px 0px;
    text-indent: 0.8em;
}
#leave-message .form tr>td:first-child {
    text-align: right;
    width: 50px;
}
#leave-message .form tr>td:nth-child(2) {
    text-align: left;
    width: 250px;
}
#leave-message .form tr>td[colspan="2"] {
    text-align: center;
}
.button {
    display: inline-block;
    position: relative;
    text-align: center;
    padding: 8px 20px;
    width: 60px;
    margin: auto;
    color: rgba(255, 255, 255, .9);
    background-color: rgba(152, 111, 210, .8);
    font-size: 16px;
    font-weight: 500;
    transition: all ease .5s;
    cursor: pointer;
}
.button:hover {
    text-decoration: none;
    background-color: #986fd2;
}
#words-header,#words,#leave-message-header,#leave-message {
    display: none;
}
.load-more {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, .4);
    cursor: pointer;
    transition: all ease 0.3s;
}
.load-more:hover {
    background: rgba(0, 0, 0, .3);
}
.top-arrow-wrapper {
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 20px;
    opacity: 1;
    transition: all ease 0.3s;
}
.top-arrow-wrapper .top-arrow {
    display: block;
    position: relative;
    width: 24px;
    height: 24px;
    margin: auto;
    background-image: url(../images/top-arrow.png);
    background-size: 24px 24px;
    cursor: pointer;
    opacity: 0.3;
}
.top-arrow:hover {
    opacity: 1;
}
.comment {
    cursor: pointer;
    margin-left: 10px;
    visibility: hidden;
}
#leave-message>section:hover .comment{
    visibility: visible;
}
footer {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    padding: 40px 0;
    background-color: transparent;
    text-align: center;
    display: none;
}
footer section {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin: auto;
    width: auto;
    margin-left: 40px;
    color: #999;
    padding: 10px;
    font-size: 10pt;
    cursor: pointer;
    transition: all ease-out 0.5s;
}
footer section:hover>span {
    text-decoration: underline;
}
footer section i {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    background-image: url(../images/footer.png);
}
footer section span {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    height: 30px;
    line-height: 30px;
}
footer section:last-child {
    width: auto;
    text-align: left;
    cursor: default;
}
footer section:last-child span {
    display: block;
    height: auto;
    line-height: 1.3em;
}
footer section:last-child:hover {
    background: transparent;
}
footer .huai {
    background-position: -300px -75px;
}
footer .album {
    background-position: -548px -75px;
}
footer .say-something {
    background-position: -830px -75px;
}


@media screen and (max-width: 1024px) and (min-width: 721px){
    .intro header{
        font-size: 32px !important;
    }
    .intro time{
        font-size: 48px !important;
    }
}
@media screen and (max-width: 720px)and (min-width: 521px){
    .intro header{
        font-size: 24px !important;
    }
    .intro time{
        font-size: 36px !important;
    }
    #pic-nav li{
        margin: 10px !important;
        width: 15px !important;
        height: 15px !important;
    }
}
@media screen and (max-width: 521px){
    .intro header{
        font-size: 16px !important;
    }
    .intro time{
        font-size: 24px !important;
    }
    #pic-nav li{
        margin: 10px !important;
        width: 15px !important;
        height: 15px !important;
    }
}
