<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta charset="UTF-8">
    <title>相册</title>

    <script src="../js/lib/jquery-1.11.2.min.js"></script>
    <script src="../js/lib/iPtdqx.js"></script>

    <!--重置样式-->
    <link rel="stylesheet" href="../css/reset.css"/>
    <!--用户中心公共样式-->
    <link rel="stylesheet" href="../css/user_center_style.css"/>
    <!--交互动画-->
    <link rel="stylesheet" href="../css/animations.css"/>
    <!--header-bar-->
    <link rel="stylesheet" href="../css/header.css"/>


    <!--个人主页的顶端公用模块-->
    <link rel="stylesheet" href="../css/user_center_top_user_info_block.css"/>
    <!--时间轴-->
    <link rel="stylesheet" href="../css/time_line.css"/>
    <!--新鲜事-->
    <link rel="stylesheet" href="../css/user-center-user-news.css"/>
    <!--相册-->
    <link rel="stylesheet" href="../css/album.css"/>
    <!--左边工具栏-->
    <link rel="stylesheet" href="../css/user_center_left_tools.css"/>
    <!--font-awesome-->
    <link rel="stylesheet" href="../font-awesome-4.2.0/css/font-awesome.min.css"/>
    <!---->
    <link rel="stylesheet" href="../css/user_center_stream.css"/>


    <style>

    </style>

    <!--脚本-->
    <!--日历项-->
    <script src="../js/calendar.js"></script>
    <!--日程安排控件项-->
    <script src="../js/schedule_board.js"></script>
    <!--获取农历日期-->
    <script src="../js/lib/get_cn_date.js"></script>
    <!--瀑布流布局-->
    <script src="../js/waterfall_scroll.js"></script>
    <!--滚动条-->
    <script src="../js/scrollbar.js"></script>
    <!--UI动画-->
    <script src="../js/UI_animate.js"></script>


</head>
<body onResize="set_logo_box();">
<header id="header">
    <a href="/" id="logo-box">
        <img src="../images/home.jpg" alt=""/>
    </a>
    <!--有新消息时加 bar-have-message 类 -->
    <a id="bar-search" href="javascript:alert('!!!');">
        <span class="fa fa-search"></span>
    </a>
    <a id="bar-service" class="bar-menu" href="services/">
        <span class="fa fa-plus-square"></span>
        <span>服务</span>
    </a>

    <a id="bar-index" class="bar-menu" href="index/">
        <span class="fa fa-th-large"></span>
        <span>主页</span>
    </a>
    <a id="bar-campus" class="bar-menu" href="campus/">
        <span class="fa fa-bars"></span>
        <span>校园</span>
    </a>
    <a id="bar-message" class="bar-menu bar-have-message" href="messages/" title="消息">
        <span class="fa fa-bell"></span>
    </a>
    <script>
        function set_logo_box(){
            var logo = document.getElementById("logo-box");
            console.log(window.innerWidth);
            if(window.innerWidth<=1000) {
                logo.style["left"] = "0px";
            }else{
                $(logo).css({
                    'left':'calc(50% - 500px)'
                })
            }
        }
        set_logo_box();
        window.addEventListener("resize",set_logo_box);
    </script>
</header>

<div id="user-info-block">
    <div id="user-intro-blur-bg" class="blur">
    </div>
    <table id="user-intro-section">
        <thead>
        <tr>
            <th width="30%"></th>
            <th width="30%"></th>
            <th width="30%"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td colspan="3">
                <div class="user-head">
                    <i></i>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <span>&nbsp;&nbsp;</span>
                <span class="user-nickname">主页君</span>
                <span class="icons">男</span>
            </td>
        </tr>
        <tr class="user-viewed-liked-clicked-section">
            <td>
                <span class="icons fa fa-eye"></span>
                <span>1000</span>
            </td>
            <td>
                <span class="icons fa fa-heart"></span>
                <span>1000</span>
            </td>
            <td>
                <span class="icons fa fa-hand-o-up"></span>
                <span>1000</span>
            </td>
        </tr>
        <tr>
            <td class="user-self-intro" colspan="3">
                <span>仿佛记忆的彼岸日已西倾，火红的暮云泛起灰黄。大海睡了吗？青花鱼年沉沦的梦已飘零。</span>
            </td>
        </tr>
        </tbody>


    </table>

    <span class="index-user-link">主页君的主页</span>

    <a href="javascript:UI_animate.show_user_detail();" id="show-user-detail">
        <span class="fa fa-angle-right"></span>
    </a>

    <div class="hidden blur" id="user-detail-bg">

    </div>

    <div class="hidden" id="user-detail-section">
        <table>
            <thead>
            <tr>
                <th width="20%"></th>
                <th width="80%"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>地区</td>
                <td>中国 北京</td>
            </tr>
            <tr>
                <td>个人</td>
                <td>21岁 属鸡 天蝎座</td>
            </tr>
            <tr>
                <td>生日</td>
                <td>保密</td>
            </tr>
            <tr>
                <td>院系</td>
                <td>你猜</td>
            </tr>
            <tr>
                <td>备注</td>
                <td><p>妮可妮可妮</p></td>
            </tr>
            </tbody>
        </table>
    </div>

    <script>
        window.UI_animate.show_user_detail = function(){
            var time_delay = 300;
            if(document.getElementById("user-detail-bg").classList.contains("hidden") ){
                //此时处于隐藏状态
                $("#user-detail-bg").attr("class","blur show");
                $("#user-detail-section").attr("class","show");
                //滑动导航栏
                $("#user-intro-nav-bg").css({
                    "width":"555px",
                    "background-position":"-445px 230px"
                });
                $("#user-intro-nav").css({
                    "width":"555px"
                });
                //切换箭头
                setTimeout(function(){
                    $("#show-user-detail").html('<span class="fa fa-angle-left"></span>');
                },time_delay);
            }
            else{
                //此时处于显示状态
                $("#user-detail-bg").attr("class","blur hidden");
                $("#user-detail-section").attr("class","hidden");
                //滑动导航栏
                $("#user-intro-nav-bg").css({
                    "width":"755px",
                    "background-position":"-245px 230px"
                });
                $("#user-intro-nav").css({
                    "width":"755px"
                });
                //切换箭头
                setTimeout(function(){
                    $("#show-user-detail").html('<span class="fa fa-angle-right"></span>');
                },time_delay);
            }
        };
    </script>



    <i id="user-intro-nav-bg" class="blur"></i>
    <nav id="user-intro-nav" >
        <a class="" style="width: 11.4%;height: 40px;">
            <span></span>
        </a>
        <a href="http://withinyou.cn/user_center.html">
            <span class="icons fa fa-bars"></span>
            <span>我的新鲜事</span>
        </a>
        <a href="http://withinyou.cn/schoolwork.html">
            <span class="icons fa fa-eye"></span>
            <span>我的学业</span>
        </a>
        <a href="#">
            <span class="icons fa fa-folder"></span>
            <span>我的收藏</span>
        </a>
        <a href="http://withinyou.cn/album.html" class="active">
            <span class="icons fa fa-photo"></span>
            <span>我的相册</span>
        </a>
    </nav>
</div>

<div class="time-line">
    <div class="ul">
    </div>
    <script src="../js/time_line_controller.js"></script>
</div>

<div class="user-center-main-container">
    <div class="left-tools-container">
        <!--我的关注-->
        <div class="people-i-follow">
            <div class="section-title">我的关注（ 25 ）</div>
            <a href="#" class="user-head person"></a>
            <a href="#" class="user-head person"></a>
            <a href="#" class="user-head person"></a>
            <a href="#" class="user-head group"></a>
            <a href="#" class="user-head group"></a>
            <a href="#" class="user-head group"></a>
            <a href="#" class="card-more" title="更多"></a>
        </div>
        <!--日历-->
        <div class="month-calendar-wrapper">
            <table class="month-calendar">
                <thead>
                <tr>
                    <th><a href="javascript:window.month_calendar_entity.change_month(-1);" title="上个月"><span class="fa fa-angle-left"></span></a></th>
                    <th colspan="6" class="month-number"></th>
                    <th><a href="javascript:window.month_calendar_entity.change_month(1);" title="下个月"><span class="fa fa-angle-right"></span></a></th>
                </tr>
                <tr>
                    <th width="12.5%">周次</th>
                    <th width="12.5%">周一</th>
                    <th width="12.5%">周二</th>
                    <th width="12.5%">周三</th>
                    <th width="12.5%">周四</th>
                    <th width="12.5%">周五</th>
                    <th width="12.5%">周六</th>
                    <th width="12.5%">周日</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
            <script src="../js/month_calendar.js"></script>
        </div>
        <div class="my-demand-container">
            <div class="section-title">我的诉求（ 2 ）</div>
            <section class="my-demands solved">
                希望新版的ihome能够给力一点~yeah~
            </section>
            <section class="my-demands">
                希望新版的ihome能够更加给力一点~yeah~
            </section>
            <a href="#" class="card-more" title="更多"></a>
        </div>
        <div class="my-resources-container">
            <div class="section-title">我的资源（ 7 ）</div>
        </div>
    </div>



    <!--右边是卡片栏目-->
    <div id="water_fall_wrapper">
        <div class="images" data-src = "1.jpg">
            <article>
                <p>怀骑士在法国，与法国外交部长谈笑风生</p>
                <time>2013/7</time>
            </article>
        </div>
        <div class="images" data-src = "3.jpg">
            <article>
                <p>怀骑士买买买，亲自支持同学们的活动~</p>
                <time>2014/4</time>
            </article>
        </div>
        <div class="images" data-src = "aaa.jpeg">
            <article>
                <p>图片3简介</p>
                <time>2015/3/15</time>
            </article>
        </div>
        <div class="images" data-src = "vs.jpg">
            <article>
                <p>落难公主：复仇之魂(Vengeance Spirit)</p>
                <time>2015/3/15</time>
            </article>
        </div>
        <div class="images" data-src = "fxjj.jpg">
            <article>
                <p>图片5简介</p>
                <time>2015/3/16</time>
            </article>
        </div>
        <div class="images" data-src = "user-head.jpg">
            <article>
                <p>图片6简介</p>
                <time>2015/3/16</time>
            </article>
        </div>
        <div class="images" data-src = "9_1.jpg">
            <article>
                <p>图片7简介</p>
                <time>2015/3/16</time>
            </article>
        </div>
        <div class="images" data-src = "bgcollection01.jpg">
            <article>
                <p>图片8简介</p>
                <time>2015/3/17</time>
            </article>
        </div>
        <div class="images" data-src = "bgcollection02.jpg">
            <article>
                <p>图片9简介</p>
                <time>2015/3/17</time>
            </article>
        </div>
    </div>



</div>
<div class="full-screen">

</div>



<script type="text/javascript">
    $(document).ready(function(){
        load_pics();
        $("#water_fall_wrapper").delegate('.images','click',function(){
            show_big_image(this);
        });

        $(".full-screen").click(function(ev){
            var evt = ev||window.event;
            if(evt.target.nodeName == 'DIV'){
                hide_full_screen();
            }else if(evt.target.nodeName=="IMG"){
                var src = evt.target.getAttribute("src");
                window.open(src);
            }else if(evt.target.nodeName=='SPAN'){
                if(evt.target.classList.contains("close")){
                    hide_full_screen();
                }
            }
        });
    });

    function load_pics(){
        var image_wrappers = document.getElementById("water_fall_wrapper");
        var images = image_wrappers.getElementsByClassName("images");
        for(var i=0;i<images.length; i++){
            var temp_str = "url(../images/"+images[i].getAttribute("data-src")+") no-repeat scroll 50% 50% / cover transparent" ;
            $(images[i]).css({
                "background":temp_str
            });
        }
    }
    function show_big_image(obj){
        var image = obj;
        var bg_str = $(obj).css("background-image");
        var bg_image = bg_str.slice(4,-1);
        var show_image = new Image();
        show_image.src = bg_image;
        var width = show_image.width;
        var height = show_image.height;
        var window_x = $(window).innerWidth();
        var window_y = $(window).innerHeight();
        var x = window_x * 0.8;
        var y = window_y * 0.8;
        if(width<x){
            x = width;
        }
        if(height<y){
            y=height;
        }

        show_full_screen(function(){
            $(".full-screen").append(show_image);
            $(show_image).css({
                "max-width":x,
                "max-height":y
            });
            var actual_height = parseInt($(show_image).css("height"));
            var actual_width = parseInt($(show_image).css("width"));
            var top_offset = parseInt((window_y-actual_height)/2);
            var right_offset = parseInt((window_x-actual_width-30)/2);
            var str = '<span class="close" style="top:'+(top_offset-14)+'px;right:'+(right_offset)+'px;">X</span>';

            $(show_image).css({
                "margin-top":top_offset
            });
            setTimeout(function(){$(".full-screen").append(str);},600);
            $(show_image).css({
                "opacity":1
            });
        });

    }
    function show_full_screen(callback){
        $(".full-screen").fadeIn(500);

        if(typeof callback == "function"){
            $(".full-screen").css({
                'display':'table'
            });
            setTimeout(function(){
                callback();
            },500);
        }
    }
    function hide_full_screen(){
        $(".full-screen").fadeOut(500);
        $(".full-screen").html("");
    }

</script>
</body>
</html>