<div class="modal-bg">
    <div class="modal-wrapper">
        <div  class="modal-box">
            <table>
                <thead>
                <tr>
                    <th width="565"></th>
                    <th width="300"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td >
                        <div class="main-content">
                            <header>
                                <a href="#" class="user-head"></a>
                                <a href="#" class="username">用户名</a>

                            </header>
                            <article>
                                <h1>这里是大标题</h1>
                                <h2>这里是小标题</h2>
                                <time>2014/9/5</time>
                                <p>
                                    我想要对你说出最深的话语，我不敢，怕你哂笑。因此我嘲笑自己，把我的秘密在玩笑中打碎。我把我的痛苦说得轻松，因为怕你会这样做。我想要对你说出最真的话语，我不敢，怕你不信。因此我弄真成假，说出和我的真心相反的话。我把我的痛苦说的可笑，因为我怕你会这样做。——泰戈尔《园丁集》
                                </p>
                                <p>
                                    我想要对你说出最深的话语，我不敢，怕你哂笑。因此我嘲笑自己，把我的秘密在玩笑中打碎。我把我的痛苦说得轻松，因为怕你会这样做。我想要对你说出最真的话语，我不敢，怕你不信。因此我弄真成假，说出和我的真心相反的话。我把我的痛苦说的可笑，因为我怕你会这样做。——泰戈尔《园丁集》
                                </p>
                                <p>
                                    我想要对你说出最深的话语，我不敢，怕你哂笑。因此我嘲笑自己，把我的秘密在玩笑中打碎。我把我的痛苦说得轻松，因为怕你会这样做。我想要对你说出最真的话语，我不敢，怕你不信。因此我弄真成假，说出和我的真心相反的话。我把我的痛苦说的可笑，因为我怕你会这样做。——泰戈尔《园丁集》
                                </p>
                                <p>
                                    我想要对你说出最深的话语，我不敢，怕你哂笑。因此我嘲笑自己，把我的秘密在玩笑中打碎。我把我的痛苦说得轻松，因为怕你会这样做。我想要对你说出最真的话语，我不敢，怕你不信。因此我弄真成假，说出和我的真心相反的话。我把我的痛苦说的可笑，因为我怕你会这样做。——泰戈尔《园丁集》
                                </p>
                                <p>
                                    我想要对你说出最深的话语，我不敢，怕你哂笑。因此我嘲笑自己，把我的秘密在玩笑中打碎。我把我的痛苦说得轻松，因为怕你会这样做。我想要对你说出最真的话语，我不敢，怕你不信。因此我弄真成假，说出和我的真心相反的话。我把我的痛苦说的可笑，因为我怕你会这样做。——泰戈尔《园丁集》
                                </p>
                            </article>
                            <section class="content-icon-box">
                                <a href="#" class="collection">
                                    <span class="fa fa-heart"></span>
                                    <span>收藏</span>
                                </a>
                                <a href="#" class="collection">
                                    <span class="fa fa-mail-forward"></span>
                                    <span>转发</span>
                                </a>
                                <a href="#" class="collection">
                                    <span class="fa fa-thumbs-up"></span>
                                    <span>赞</span>
                                </a>
                            </section>
                        </div>

                    </td>
                    <td class="comment-box">
                        <section>
                            <div class="comment-wrapper">
                                <article class="comment create-comment-wrapper">
                                    <header>
                                        <a href="#" class="user-head"></a>
                                        <a href="#" class="username">用户名</a>
                                    </header>
                                    <div class="create-comment" contenteditable="true" id="create-comment-${article.id}">说点什么吧</div>
                                    <a href="#" class="button" data-article-id="${article.id}" onclick="">发布评论</a>
                                    <a href="#" class="button forward" data-article-id="${article.id}" onclick="">转发</a>
                                </article>
                                <article class="comment">
                                    <header>
                                        <a href="#" class="user-head"></a>
                                        <a href="#" class="username">用户名</a>
                                        <time>2014/9/5</time>
                                    </header>
                                    <p>
                                        我想要对你说出最深的话语，我不敢，怕你哂笑。因此我嘲笑自己，把我的秘密在玩笑中打碎。我把我的痛苦说得轻松，因为怕你会这样做。我想要对你说出最真的话语，我不敢，怕你不信。因此我弄真成假，说出和我的真心相反的话。我把我的痛苦说的可笑，因为我怕你会这样做。——泰戈尔《园丁集》
                                    </p>
                                    <div class="comment-icon-bar">
                                        <a href="#" data-reply-id="${reply.id}" title="赞">
                                            <span class="fa fa-thumbs-up"></span>
                                            21
                                        </a>
                                        <a href="#" data-reply-id="${reply.id}" title="回复">
                                            <span class="fa fa-comment"></span>
                                            4
                                        </a>
                                    </div>
                                    <section>
                                        <div class="create-comment-reply" contenteditable="true" data-comment-id="">写下你的回复~</div>
                                        <a href="#" class="button" data-article-id="${article.id}" onclick="">回复</a>
                                    </section>

                                    <div class="replies">
                                        <article class="reply">
                                            <p>
                                                <a href="" class="username">路人甲</a> 回复 <a href="" class="username">路人乙</a> :
                                                我想要对你说出最深的话语，我不敢，怕你哂笑。因此我嘲笑自己，把我的秘密在玩笑中打碎。我把我的痛苦说得轻松，因为怕你会这样做。
                                            </p>
                                            <div class="comment-icon-bar">
                                                <a href="#" data-reply-id="${reply.id}" title="赞">
                                                    <span class="fa fa-thumbs-up"></span>
                                                    21
                                                </a>
                                                <a href="#" data-reply-id="${reply.id}" title="回复">
                                                    <span class="fa fa-comment"></span>
                                                    4
                                                </a>

                                            </div>
                                            <section class="create-comment-reply-box">
                                                <div class="create-comment-reply" contenteditable="true" data-comment-id="">写下你的回复~</div>
                                                <a href="#" class="button" data-article-id="${article.id}" onclick="">回复</a>
                                            </section>

                                        </article>
                                        <article class="reply">
                                            <p>
                                                <a href="" class="username">路人甲</a> 回复 <a href="" class="username">路人乙</a> :
                                                我想要对你说出最深的话语
                                            </p>
                                            <div class="comment-icon-bar">
                                                <a href="#" data-reply-id="${reply.id}" title="赞">
                                                    <span class="fa fa-thumbs-up"></span>
                                                    21
                                                </a>
                                                <a href="#" data-reply-id="${reply.id}" title="回复">
                                                    <span class="fa fa-comment"></span>
                                                    4
                                                </a>

                                            </div>
                                            <section class="create-comment-reply-box">
                                                <div class="create-comment-reply" contenteditable="true" data-comment-id="">写下你的回复~</div>
                                                <a href="#" class="button" data-article-id="${article.id}" onclick="">回复</a>
                                            </section>

                                        </article>

                                    </div>
                                </article>
                                <article class="comment">
                                    <header>
                                        <a href="#" class="user-head"></a>
                                        <a href="#" class="username">用户名</a>
                                        <time>2014/9/5</time>
                                    </header>
                                    <p>
                                        我想要对你说出最深的话语，我不敢，怕你哂笑。因此我嘲笑自己，把我的秘密在玩笑中打碎。我把我的痛苦说得轻松，因为怕你会这样做。我想要对你说出最真的话语，我不敢，怕你不信。因此我弄真成假，说出和我的真心相反的话。我把我的痛苦说的可笑，因为我怕你会这样做。——泰戈尔《园丁集》
                                    </p>
                                    <div class="comment-icon-bar">
                                        <a href="#" data-reply-id="${reply.id}" title="赞">
                                            <span class="fa fa-thumbs-up"></span>
                                            21
                                        </a>
                                        <a href="#" data-reply-id="${reply.id}" title="回复">
                                            <span class="fa fa-comment"></span>
                                            4
                                        </a>
                                    </div>

                                    <div class="replies">
                                        <article class="reply">
                                            <p>
                                                <a href="" class="username">路人甲</a> 回复 <a href="" class="username">路人乙</a> :
                                                我想要对你说出最深的话语，我不敢，怕你哂笑。因此我嘲笑自己，把我的秘密在玩笑中打碎。我把我的痛苦说得轻松，因为怕你会这样做。
                                            </p>
                                            <div class="comment-icon-bar">
                                                <a href="#" data-reply-id="${reply.id}" title="赞">
                                                    <span class="fa fa-thumbs-up"></span>
                                                    21
                                                </a>
                                                <a href="#" data-reply-id="${reply.id}" title="回复">
                                                    <span class="fa fa-comment"></span>
                                                    4
                                                </a>

                                            </div>

                                        </article>
                                        <article class="reply">
                                            <p>
                                                <a href="" class="username">路人甲</a> 回复 <a href="" class="username">路人乙</a> :
                                                我想要对你说出最深的话语
                                            </p>
                                            <div class="comment-icon-bar">
                                                <a href="#" data-reply-id="${reply.id}" title="赞">
                                                    <span class="fa fa-thumbs-up"></span>
                                                    21
                                                </a>
                                                <a href="#" data-reply-id="${reply.id}" title="回复">
                                                    <span class="fa fa-comment"></span>
                                                    4
                                                </a>

                                            </div>


                                        </article>

                                    </div>
                                </article>
                                <a href="#" class="load-more">加载更多</a>
                            </div>
                        </section>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>